
<h2>Employee List</h2>
<span>Sort by
<select  [(ngModel)]="selected" (ngModelChange)="selectedOption()">    
    <option>--Choose option--</option>
    <option value ="1">Age</option>
    <option value = "2">Gender</option>
    <option value = "3">Start date</option>
    <option value = "4">Surname</option>
    <option value = "5">Name</option>
</select>
</span>



<table class = "table table-striped">
<thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Surname</th>
        <th>Gender</th>
        <th>Date of birth</th>
        <th>Personal Code</th>
        <th>Id document number</th>
        <th>Id expiry date </th>
        <th>Phone number</th>
        <th>E-mail address</th>
        <th>Address</th>
        <th>Eduaction</th>
        <th>Certificates</th>
        <th>Children</th>
        <th>Active</th>
    </tr>
</thead>

<tbody>

    <tr id = "employee" *ngFor = "let employee of employees |paginate :{itemsPerPage: noOfRows, currentPage:page, totalItems:totalLength}" routerLink ="/employees/{{employee.id}}" >
    
   
        <td>{{employee.id}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.surname}}</td>
        <td>{{employee.gender}}</td>
        <td>{{employee.dateOfBirth}}</td>
        <td>{{employee.personalCode}}</td>
        <td>{{employee.idDocumentNumber}}</td>
        <td>{{employee.idDocumentExpiryDate}}</td>
        <td>{{employee.phoneNumber}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.address}}</td>
        <td>{{employee.education}}</td>
        <td>{{employee.certificate}}</td>
        <td>{{employee.doesEmployeeHaveChild}}</td>
        <td>{{employee.employeeActive}}</td>
        
    
    </tr>
    
</tbody>

</table>


<pagination-controls (pageChange) = "page = $event" ></pagination-controls>


<pagination-template #p="paginationApi"

                    >

<button [hidden] id = "goToLastPage" (click) = "page=p.getLastPage()">Go to last page</button>
</pagination-template>

<Span>Items per page
    <select (change) = "page =1" [(ngModel)]="noOfRows">
    <option value = "3">3</option>
    <option value = "6">6</option>
    <option value = "9">9</option>
    </select>
</Span>
