


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="add-employee.component.css">
  <title>Add employee</title>
  <!-- <script src="scripts.js"></script> -->
</head>
<body>
<div *ngIf="employee">
  <div class="wrapper">
    <div class="main">
      <div class="employee_card">
<div class = "col-md-6 offset-md-3">
    <h3>Add Employee</h3>

    <div class = "form-group">
        <label>FirstName</label>
        <input type = "text" class = "form-control" id ="name"
        [(ngModel)] ="employee.name" name = "name">
    </div>
    <div class = "form-group">
        <label>Last Name</label>
        <input type = "text" class = "form-control" id ="surname"
        [(ngModel)] ="employee.surname" name = "lastname">
    </div>

    <div class = "form group row">
        <label for = "gender" class = "col-form-label col sm-2">Gender</label>
           <select [(ngModel)]="employee.gender" class = "form-control" name = "gender">
                <option [ngValue]="undefined">-------Choose gender-----</option>
                <option [value]= >FEMALE</option>
                <option [value]= >MALE</option>
                </select>
    </div>
    <div class = "form-group">
        <label>Date Of Birth</label>



        <!-- placeholder="Datepicker" -->

      <div class="row">
        <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
          <input type="text"

          placeholder= "DD/MM/YYYY "

                 class="form-control"
                 bsDatepicker
                 [(ngModel)] ="employee.dateOfBirth"
                 bsDatepicker #dp="bsDatepicker" [bsConfig]="bsConfig">


        </div>




    <div class = "form-group">
        <label>Personal Code</label>
        <input type = "text" class = "form-control" id ="personalCode"
        [(ngModel)] ="employee.personalCode" name = "personalCode">
    </div>
    <div class = "form-group">
        <label>Document Number</label>
        <input type = "text" class = "form-control" id ="idDocumentNumber"
        [(ngModel)] ="employee.idDocumentNumber" name = "idDocumentNumber">
    </div>
    <div class = "form-group">
        <label>Document Expiry Date</label>
        <input type = "text" class = "form-control" id ="idDocumentExpiryDate"
        [(ngModel)] ="employee.idDocumentExpiryDate" name = "idDocumentExpiryDate">
    </div>
    <div class = "form-group">
        <label>Phone Number</label>
        <input type = "text" class = "form-control" id ="phoneNumber"
        [(ngModel)] ="employee.phoneNumber" name = "phoneNumber">
    </div>
    <div class = "form-group">
        <label>E-mail</label>
        <input type = "text" class = "form-control" id ="email"
        [(ngModel)] ="employee.email" name = "email">
    </div>
    <div class = "form-group">
        <label>Address</label>
        <input type = "text" class = "form-control" id ="address"
        [(ngModel)] ="employee.address" name = "address">
    </div>
    <div class = "form-group">
        <label>Education</label>
        <input type = "text" class = "form-control" id ="education"
        [(ngModel)] ="employee.education" name = "education">
    </div>
    <div class = "form group row">
        <label for = "department" class = "col-form-label col sm-2">Department</label>
           <select [(ngModel)]="employee.department" class = "form-control" name = "department">
                <option [ngValue]="undefined">---Choose departement-----</option>
                <option *ngFor = "let department of departments" [ngValue] = "department">{{department.name}}</option>
           </select>
    </div>

    <div class = "form-group">
        <label>Certificate</label>
        <input type = "text" class = "form-control" id ="certificate"
        [(ngModel)] ="employee.certificate" name = "certificate">
    </div>


    <div class = "form-group">
      <label>Employment Date</label>
      
        <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
          <input type="text"

          placeholder= "DD/MM/YYYY "

                 class="form-control"
                 bsDatepicker
                 [(ngModel)] ="employee.workStartDate"
                 bsDatepicker #dp="bsDatepicker" [bsConfig]="bsConfig">
  </div>


    <div class = "form group row">
        <label for = "employeeActive" class = "col-form-label col sm-2">Is Employee Active</label>
           <select [(ngModel)]="employee.employeeActive" class = "form-control" name = "employeeActive">
                <option [ngValue]="undefined">-------Choose option-----</option>
                <option [ngValue]= "true" >Yes</option>
                <option [ngValue]= "false">No</option>

           </select>
    <div class = "form group row">
        <label for = "doesEmployeeHaveChild" class = "col-form-label col sm-2">Does Employee Have Children</label>
           <select [(ngModel)]="employee.doesEmployeeHaveChild"  class = "form-control" name = "doesEmployeeHaveChild">
                <option [ngValue]="undefined">-------Choose option-----</option>
                <option [value]= "true">Yes</option>
                <option [value]= "false">No</option>

           </select>

    </div>
     <div>
            <button (click)="onSubmit()" class = "btn btn-success" type = "submit" >Submit</button>
        </div>


            <button class="btn btn-info"(click)="goBack()">Go back</button>
        </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
