:root {
    --header-footer-bg: rgb(53, 53, 53);
    --main-color: rgb(0, 0, 0);
    --card-parts-bg: rgb(218, 218, 218);
    --wrap-bg-color: rgb(209, 209, 209);
    --auth-bg-color: rgba(255, 255, 255, 0.815);
    --black-shadow: rgba(0, 0, 0, 0.349);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--wrap-bg-color);
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 71vh;
}

.employee_card {
position: relative;
display: flex;
gap: 5px; /* space between elements */
margin: 1em;
width: 70%;
padding: .5em;
height: min-content;
min-height: 60vh;
background: var(--auth-bg-color);
color: var(--main-color);
font-size: clamp(1rem, 1vh, 2rem);
border-radius: 1vh;
box-shadow: 5px 10px 5px var(--black-shadow);
word-break: break-all;
}

.left_side {
    flex-basis: 80%;
    min-height: 70vh;
    height: min-content;
    word-break: break-all;
    background: var(--card-parts-bg);
    border-radius: 1vh;
}

.employee_table {
    width: 100%;
    border-collapse: collapse; /* not necessary */
    border-style: hidden; /* not necessary */
}

.employee_table td {
    padding: .4em;
    border-bottom: 1px solid black; /* not necessary */
}
.employee_left_info {
    text-align: center;
}

.employee_left_row_name {
    font-weight: 900;
    width: 35%;
}

.right_side {
    display: flex;
    gap: 5px; /*space between elements*/
    flex-direction: column;
    flex-basis: 20%; /*makes right side 20% of width*/
    min-height: 70vh;
}

.right_top {
    padding: 0;
    width: 100%;
    flex-grow: 1;
    word-break: break-all;
    background: var(--card-parts-bg);
    border-radius: 1vh;
    background-image: url('//unsplash.it/500/500');  /* placeholder, change with js */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.right_bottom {
    width: 100%;
    flex-grow: 2;
    word-break: break-all;
    display: flex;
    flex-direction: column;
}

.employee_buttons {
    margin-top: .2em;
    border-radius: 1vh;
    height: 100%;
    border: none;
    background: rgb(92, 92, 92);
    color: white;
    font-size: clamp(1rem, 1.2vh, 2rem);
}

#deleteEmployee, #updateEmployee{background: rgb(29, 153, 161);}

#deleteEmployee:hover, #updateEmployee:hover{
    cursor: pointer;
    background: rgb(96, 181, 187);}

.employee_buttons:hover {
    cursor: pointer;
    background: rgb(119, 119, 119);
}

