
<div class = "col-md-6 offset-md-3">
    <h3>Add Department</h3>
    <form (ngSubmit)= "onSubmit()">

<label>Input Departments name:</label>
        <input type="text" name="name" [(ngModel)]="department.name">
        <input type="text" name="address" [(ngModel)]="department.address">
   
    
     <button class = "btn btn-success" type = "submit" >Submit</button>
    </form>


    <!-- <div class = "form-group">
        <label>Name</label>
        <input type = "text" class = "form-control" id ="name"
        [(ngModel)] ="department.name" name = "name">
    </div>
    <div class = "form-group">
        <label>Address</label>
        <input type = "text" class = "form-control" id ="address"
        [(ngModel)] ="department.address" name = "address">
    </div>   -->