<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <a routerLink="/"class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item active">
        <a routerLink="/search-employees"class="nav-link" href="#">Employees</a>
      </li>
      <li class="nav-item">
        <a routerLink="/departments" class="nav-link" href="#">Departments</a>
      </li>
      <li class="nav-item">
          <a routerLink="/children-list"class="nav-link" href="#">Employees children</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
 <div class="wrapper">
    <div class="main">
      <div class="employee_card">
        <h3 style="position: absolute">Add Department</h3>
        <br>
        <div>
          <form (ngSubmit)= "onSubmit()" style="margin-top: 35px;">
            <label>Input Departments name:</label><br>
            <input type="text" name="name" [(ngModel)]="department.name"><br>
            <label>Input Departments address:</label><br>
            <input type="text" name="address" [(ngModel)]="department.address"><br>
            <button class = "btn" type = "submit" >Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
