<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <a routerLink="/"class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item active">
        <a routerLink="/search-employees"class="nav-link" href="#">Employees</a>
      </li>
      <li class="nav-item">
        <a routerLink="/departments" class="nav-link" href="#">Departments</a>
      </li>
      <li class="nav-item">
          <a routerLink="/children-list"class="nav-link" href="#">Employees children</a>
      </li>

    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
  <div class="wrapper">
    <div class="main">
      <div class="employee_card">

        <h2>Active Employee list</h2>
        <span>Sort by
                <select  [(ngModel)]="selected" (ngModelChange)="selectedOption()">
                    <option>--Choose option--</option>
                    <option value = "1">Surname</option>
                    <option value = "2">Name</option>
                </select>
            </span>
        <table class>
          <thead>
          <tr>
            <th class="column_names">Id</th>
            <th class="column_names">First Name</th>
            <th class="column_names">Surname</th>
            <th class="column_names">Gender</th>
            <th class="column_names">Date of birth</th>
            <th class="column_names">Personal Code</th>
            <th class="column_names">Id document number</th>
            <th class="column_names">Id expiry date </th>
            <th class="column_names">Phone number</th>
            <th class="column_names">E-mail address</th>
            <th class="column_names">Address</th>
            <th class="column_names">Education</th>
            <th class="column_names">Department</th>
            <th class="column_names">Children</th>
            <th class="column_names">Employment date</th>
            <th class="column_names">Active</th>
          </tr>
          </thead>
          <tbody>
          <tr id = "employee" *ngFor = "let employee of employees |paginate :{itemsPerPage: noOfRows, currentPage:page, totalItems:totalLength}" routerLink ="/employees/{{employee.id}}" >
            <td>{{employee.id}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.surname}}</td>
            <td>{{employee.gender}}</td>
            <td>{{employee.dateOfBirth}}</td>
            <td>{{employee.personalCode}}</td>
            <td>{{employee.idDocumentNumber}}</td>
            <td>{{employee.idDocumentExpiryDate}}</td>
            <td>{{employee.phoneNumber}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.address}}</td>
            <td>{{employee.education}}</td>
            <td>{{employee.department.name}}</td>
            <td>{{employee.doesEmployeeHaveChild}}</td>
            <td>{{employee.workStartDate}}</td>
            <td>{{employee.employeeActive}}</td>
          </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange) = "page = $event" ></pagination-controls>
        <pagination-template #p="paginationApi">
          <button [hidden] id = "goToLastPage" (click) = "page=p.getLastPage()">Go to last page</button>
        </pagination-template>
        <Span>Items per page
                <select (change) = "page =1" [(ngModel)]="noOfRows">
                <option value = "10">10</option>
                <option value = "15">15</option>
                <option value = "20">20</option>
                </select>
            </Span>
      </div>
    </div>
  </div>
