<div class = "container">

<span>
  <button routerLink="/employees">All Employees</button>
</span>
<span>
  <button routerLink="/employees-active">Active Employees</button>
</span>
<span>
  <button routerLink="/add-employee">Add employee</button>
</span>

</div>
 <!-- <nav>
      <a routerLink="/employees">Employee list</a>

 </nav>
        <nav>
      <a routerLink="/add-employee">Add Employee</a>
    </nav> -->


    <div class = "col-md-6 offset-md-3">
<div>
<h4>Search Employee by:</h4>

<!-- <form (ngSubmit)= "onSubmit()"> -->
<!-- <div class = "form-group">
  <label>First Name: </label>
  <input type = "text" class = "form-control" id ="name"
  [(ngModel)] ="employee.name" name = "name">
</div> -->

<!-- <label for="hero-name">Hero name: </label>
<input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name"> -->


    <label>Name: </label>

    <input class = "form-control" type = "text"   [(ngModel)] ="employee.name" name ="name" placeholder = "name" >

    <!-- <button class = "btn btn-success" type = "submit" >Submit</button> -->
    <button (click)= "onSubmitName()">Submit</button>
<br>
  <label>Last Name: </label>
  <input class = "form-control" type = "text"   [(ngModel)] ="employee.surname" name ="surname" placeholder = "surname" >

<!-- <button class = "btn btn-success" type = "submit" >Submit</button> -->
<button (click)= "onSubmitSurName()" >Submit</button>
<br>
    <label>Personal code: </label>
    <input class = "form-control" type = "text"   [(ngModel)] ="employee.personalCode"name ="personalCode" placeholder = "personal code" >

    <!-- <button class = "btn btn-success" type = "submit" >Submit</button> -->
    <button (click)= "onSubmitPersonalCode()" >Submit</button>
    <br>
  <!-- <form (ngSubmit)= "onSubmitDepartment()"> -->

    <!-- <select  [(ngModel)]="selectedDepartment">
      <option>--Choose option--</option>
      <option *ngFor =" let department of departments" [value] = "department.id" >{{department.name}}</option>

      <button  (click)="onSubmitDepartment()">Submit</button> -->

      <label>Department: </label>
      <select class="form-select"[(ngModel)]="selectedDepartment">
        <option [ngValue]="undefined">--Choose department--</option>
        <option *ngFor =" let department of departments" [value] = "department.id" >{{department.name}}</option>
    </select>
    <button (click)="onSubmitDepartment()" >Submit</button>






